.ProseMirror .block-boundary-code {
  box-shadow: 0 0 0 1px rgb(96 165 250 / 65%);
  transition:
    box-shadow 50ms ease-out,
    background-color 50ms ease-out;
  background: rgb(59 130 246 / 6%);
}

.ProseMirror .block-boundary-quote {
  box-shadow: none;
  transition: background-color 50ms ease-out;
  background: rgb(161 161 170 / 10%);
}

.ProseMirror .block-boundary-list {
  box-shadow: inset 2px 0 0 #d4d4d8;
  transition: box-shadow 50ms ease-out;
}
